* {
  font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

.array-container {
  align-items: center;
  display: flex;
  margin-top: auto;
}

.array-bar {
  background-color: rgba(50, 47, 47, 0.997);
  border-radius: 0.35em;
  margin: 0.20%;
}

/* .app-footer {
  align-items: center;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #333;
  margin-top: auto;
} */


/* .app-footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
} */

.app-button {
  border-radius: 0.4em;
  border-width: 0.05em;
  color: white;
  padding: 0.5em;
  margin: 0 0.5em;
  background-color: transparent;
  font-size: 0.9em;
  font-style: italic;
}

.app-button:focus {
  outline: none;
}

.app-button:hover {
  color: #333;
  background-color: #eaeaea;
}

.visualizer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.displayNo{
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
  color: #e3e3e3;
  /* margin: 0.5em; */
  /* padding-right: 20px;
  padding-left: 8px; */
}

.complexity{
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0.2em;
}

#fileInput{
  
  width: 213px;

}

/* @media (min-width: 700px) {

  .app-footer {
    justify-content: center;
  }
  
} */


/* css changes */
.app-footer {
  position: sticky;
  bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #333;
  margin-top: auto;
}

.flex-col{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
}
