.app {
    text-align: center;
    background-color: #282c34;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .time {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: white;
  }
  
  .button {
    padding: .6rem 1.5rem;
    margin: .4rem;
    /* border-radius: 0.4em; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8rem;
    /* border-style: groove; */
  }
  
  /* .button:focus {
    outline-width: 0;
  } */
  
  /* .button-primary:hover {
    background-color: #2641d4;
    border: 1px solid #1b1f2b;
  } */
  
  .button-primary-active {
    color: #333;
    background-color: #eaeaea;  
  }
  
  .button-primary-inactive {
    color: #333;
    background-color: #eaeaea;
  }